body {
  margin:0;
  padding:0;
  background-color:gray;
}
.App {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 12% auto 8%;
}
footer {
  color:WhiteSmoke;
  background-color:black;
  display:flex;
  align-items: center;
  justify-content: center;
}

p {
  margin:0;
}

header {
  background-color:black;
  color: WhiteSmoke;
  display:flex;
  align-items: center;
  justify-content: space-around;
}

.log-in-container {
  display:flex;
  align-items: center;
  justify-content: center;
}

.log-in-inner-container {
  border: 1px solid black;
  height:50%;
  width:25%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.log-in-inner-container form{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:50%;
}

.chatview-container {
  display: grid;
  grid-template-columns: 17% auto 17%
}

.create-room-container {
  height:100%;
  width:100%;
  text-align:center;
  padding-top:5%;
}

.create-room-container form {
  width:50%;
  text-align:center;
  margin: 5% auto;
  display:flex;
  flex-direction: column;
}

.rooms-container {
  border-right: 1px solid black;
  overflow-y: scroll;
}

.users-container {
  border-left: 1px solid black;
  overflow-y: scroll;
}

.room {
  padding:3% 2%;
  border-bottom: 1px solid black;
  height:15%;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.room p:first-child {
  margin-bottom: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #888;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}
